{% extends "base.html"%}

{% block content %}
    <h1 class="choose">Choose A Lunch Event You would like to take a poll on !</h1>
    {% for lunch in lunches %}
        <ul>
            <li class="list-group-item user-name"><a href="{% url 'tavern:detail' lunch.id %}">{{ lunch.nickname }}</a></li>
        </ul>

        <p class="home-detail">{{ lunch.user }}</p>
        <p class="home-detail">{{ lunch.date }}<p>
        <br/>
    {% endfor %}



{% endblock %}



        <ul>

        {# We can build a url with the name of our path using the url template tag #}
{#        <li class="list-group-item"><a href="{% url 'photos:detail' contest.id %}">{{ contest.title }}</a></li>#}

{#        </ul>#}

